In [13]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

In [4]:
df=pd.read_csv('covid_toy.csv')

In [5]:
df.sample(5)

    age  gender  fever   cough       city has_covid
67   65    Male   99.0    Mild  Bangalore        No
17   40  Female   98.0  Strong      Delhi        No
83   17  Female  104.0    Mild    Kolkata        No
16   69  Female  103.0    Mild    Kolkata       Yes
70   68  Female  101.0  Strong      Delhi        No

In [8]:
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:,:5],df['has_covid'],test_size=0.2)

In [41]:
#x_train=pd.DataFrame(x_train, columns=x_train.columns)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)
x_train

(20, 5)
(80,)
(20,)

    age  gender  fever   cough     city
11   65  Female   98.0    Mild   Mumbai
30   15    Male  101.0    Mild    Delhi
61   81  Female   98.0  Strong   Mumbai
31   83    Male  103.0    Mild  Kolkata
29   34  Female    NaN  Strong   Mumbai
..  ...     ...    ...     ...      ...
40   49  Female  102.0    Mild    Delhi
90   59  Female   99.0  Strong    Delhi
58   23    Male   98.0  Strong   Mumbai
56   71    Male    NaN  Strong  Kolkata
80   14  Female   99.0    Mild   Mumbai

[80 rows x 5 columns]

In [72]:
Transformer=ColumnTransformer(transformers=[
    ('tfn1',SimpleImputer(),['fever']),
    ('tfn2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tfn3',OneHotEncoder(sparse_output=False, drop='first'),['gender','city'])
],
                    remainder='passthrough'    )

In [73]:
Transformer.fit_transform(x_train).shape

(80, 7)